.stories {
	display: flex;
	justify-content: space-around;
	margin: 24px;
}

.stories__articles {
	height: 140px;
	position: relative;
}

.stories__backgroundImage {
	width: 100px;
	height: 140px;
	border-radius: 16px;
}
